* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
}
body {
	margin-bottom: 100px;
}
article {
	width: 80%;
}
fieldset {
	padding: 20px;
}
label,
p,
select {
	margin-bottom: 12px;
}
p, 
legend {
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}
textarea {
	width: 400px;
	height: 200px;
}
td {
	padding-left: 5px;
}
table {
	margin-bottom: 40px;
}
#form input[type='submit'] {
	margin-top: 12px;
	margin-bottom: 12px;
	width: 150px;
	height: 40px;
}
#about_person,
#more_info_person,
#final_formsect,
.heading,
#table_sect {
	display: flex;
}
	#about_person #age {
		max-width: 50px;
	}

.heading {
	width: 100%;
	border: 2px solid red;
	height: 60px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#table_sect {
	flex-direction: column;
	align-items: center;
}
#table_1 {
	width: 100%;
	border: 1px solid black;
}
#table_2 {
	width: 60%;
	border: 1px solid black;
}
#table_2 td, 
#table_2 th {
	padding: 5px;
}
	#table_2 tr td:first-child {
		font-weight: bold;
	}

#table_3 {
	width: 60%;
	border-collapse: collapse;
	border: 2px solid black;
}
	#table_3 td,
	#table_3 th {
		border: 1px solid black;
	}